extends layout

block content
    if user
        h3 Welcome back #{user.name}!
    h1 CPAN-212-0NA Group #1 Movie Shop
    //- Loop through all movies
    each movie in movies
        .movie-details
            //- Display title, description, year, rating
            
            //- Link to movie with id
            label Title: 
                a(href="/movie/" + movie._id) #{movie.title}

            br
            label Description: 
                span #{movie.description}

            br
            label Year: 
                span #{movie.year}

            br
            label Rating: 
                span #{movie.rating} / 10

            br
            label Genres: 
                span #{movie.genres.join(', ')}
